
<head>
  <title> PicLocal </title>
  <!--<link rel="stylesheet" href="{{=URL('static','css/main.css')}}"/>-->
  <link rel="stylesheet" href="{{=URL('static','css/index.css')}}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
  <header>
    <navbar>
    <a href="home.html"> <i class="fa fa-home" aria-hidden="true"></i></a>
    </navbar>
    <navbar>
    <a href="search.html"> <i class="fa fa-search" aria-hidden="true"></i></a>
  </navbar>
  <navbar>
    <a href="likes.html"> <i class="fa fa-heart-o" aria-hidden="true"></i></a>
  </navbar>
  <navbar>
    <a href="profile.html"> <i class="fa fa-user-o" aria-hidden="true"></i></a>
  </navbar>
  </header>

  <div class ="container">
    <div class="card">
    </div>
  </div>

</body>