/* line 1, ../sass/index.scss */
body {
  background: #fff;
}

/* line 5, ../sass/index.scss */
header {
  background: #FAFAFA;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
/* line 14, ../sass/index.scss */
header a {
  box-sizing: border-box;
  width: 24.9%;
  display: inline-block;
  margin-left: -3px;
  text-align: center;
  padding: 12px;
}
/* line 23, ../sass/index.scss */
header a:hover .fa-heart-o {
  color: red;
}
/* line 28, ../sass/index.scss */
header a .fa {
  color: 111;
  font-size: 25px;
}

/* line 35, ../sass/index.scss */
.container {
  background: #FAFAFA;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
}
/* line 43, ../sass/index.scss */
.container .card {
  background: #fff;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
