{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var get_like_count_url = "{{=URL('api', 'get_like_count_on_post')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='true' if auth.user is None else 'true'}};
    var getCommentsUrl = "{{=URL('api', 'get_comments', user_signature=True)}}";
    var insertCommentUrl = "{{=URL('api', 'insert_comment', user_signature=True)}}";
    var editCommentUrl = "{{=URL('api', 'edit_comment', user_signature=True)}}";
    var editPostUrl = "{{=URL('api', 'edit_post', user_signature=True)}}";

</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        Hi! For some reason, my code breaks when you try to log in, so please test all non log-in related functions on here and give me 0s on all functions that require you to log in. Thanks!
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
      <!-- First, let's add a form to insert blog posts. -->
        <div class="container form_row">
          <div class="label quarter">
            Title:
          </div>
          <div class="form threequarters">
            <input v-model="form_title" placeholder="Enter the post title"/>
          </div>
        </div>
        <div class="container form_row">
          <div class="label quarter">
            Content:
          </div>
          <div class="form threequarters">
            <textarea v-model="form_content" placeholder="Enter the content of your post"></textarea>
          </div>
        </div>
        <div class="container form_row"><div class="quarter"></div>
          <div class="threequarters">
            <div class="submit">
              <button id="add-post" v-on:click="add_post">Submit</button>
            </div>
        </div>
      </div>


      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts.</div>

      <!-- We display the posts. -->
      <div id="post_list">
        <div class="post_div" v-for="post in post_list">
          <div class="post_title">${post.post_title}</div>
          <div class="attributes">
            <button v-if="!is_post_editable" v-on:click="editPost(post._idx);"> Edit post </button>
            <button v-if="is_post_editable" v-on:click="send_post(post._idx);"> Save </button>
              <div v-if="!is_post_editable">
                <div>${post.post_content}</div>
              </div>
              <div v-if="is_post_editable">
                <textarea v-model="post.post_content"></textarea>
              </div>

            <!-- Code for Thumbs. (modified from MSI example)
            <div class = "thumbs">
               <div v-if="post.thumb == null">
                  <div v-if="post.hoverThumb == 'u'">
                      <i class="fa fa-thumbs-up gray" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  <div v-if="post.hoverThumb == 'd'">
                      <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-down gray" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  <div v-if="post.hoverThumb == null">
                      <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  Likes: 0
               </div>
               <div v-if="post.thumb == 'u'">
                  <div v-if="post.hoverThumb == 'u'">
                      <i class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  <div v-if="post.hoverThumb == 'd'">
                      <i class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-down gray" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  <div v-if="post.hoverThumb == null">
                      <i class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  Likes: 1
              </div>
              <div v-if="post.thumb == 'd'">
                  <div v-if="post.hoverThumb == 'd'">
                      <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  <div v-if="post.hoverThumb == 'u'">
                      <i class="fa fa-thumbs-o-up gray" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  <div v-if="post.hoverThumb == null">
                      <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                      <i class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" v-on:mouseout="thumb_mouseout(post._idx)"></i>
                  </div>
                  Likes: -1
              </div>-->
              <button v-if="!post.showComments" v-on:click="showComments(post._idx)">Add / Show Comments</button>
                <button v-if="post.showComments" v-on:click="hideComments(post._idx)">Hide Comments</button>
                <div v-if="post.showComments" class="comment-section">
                    <br>
                    <button v-if="!post.addingComment" v-on:click="toggleAddingComment(post._idx)">Add Comment</button>
                    <div v-if="post.addingComment">
                        <textarea v-model="post.newComment"></textarea>
                        <button v-on:click="saveComment(post._idx); toggleAddingComment(post._idx);">Save</button>
                    </div>
                    <div v-if="post.comments.length > 0" v-for="comment in post.comments" class="comment">
                        <!--${ comment.body }-->
                        <button v-if="!is_comment_editable" v-on:click="editComment(post._idx);"> Edit </button>
                        <button v-if="is_comment_editable" v-on:click="send_comment(post._idx);"> Save </button>
                          <div v-if="!is_comment_editable">
                            <div>${comment.body}</div>
                          </div>
                          <div v-if="is_comment_editable">
                            <textarea v-model="comment.body"></textarea>
                          </div>



                    </div>
                    <div v-if="post.comments.length <= 0">
                        This movie has no comments.
                    </div>
                </div>

        </div>
   </div>
</div>




<script src="{{=URL('static', 'js/default_index.js')}}"></script>
