html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #415057;
}

header{
    background: #CACACA;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;

    a{
        box-sizing: border-box;
        width: 33.3%;
        display: inline-block;
        margin-left: -3px;
        text-align: center;
        padding: 12px;

        &:hover{
            .fa{
                color: #1D994B;
            }
        }

        .fa{
            color: #111;
            font-size: 25px;
        }
    }
    button{
        box-sizing: border-box;
        width: 33.3%;
        display: inline-block;
        margin-left: -3px;
        text-align: center;
        padding: 12px;
        background-color: #CACACA;
        vertical-align: middle;
        &:hover{
            .fa{
                color: #1D994B;
            }
        }

        .fa{
            color: #111;
            font-size: 25px;
        }
    }
}

/* line 1, ../sass/_main.scss */
.colorful {
    color: #bb8833;
  }
  
  /* line 5, ../sass/_main.scss */
  div.main_content {
    padding: 16px;
    color:white;

    .addingPost{
        color: white;
    }
  }
  /* line 8, ../sass/_main.scss */
  div.main_content div.form_row {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  /* line 13, ../sass/_main.scss */
  div.main_content div.post_div {
    margin: 4px;
    border: 1px black solid;
    background-color: #eeeeee;
    padding: 4px;
  }
  /* line 18, ../sass/_main.scss */
  div.main_content div.post_div .post_title {
    font-size: 120%;
  }
  /* line 22, ../sass/_main.scss */
  div.main_content i.changed {
    color: #777777;
  }
  /* line 25, ../sass/_main.scss */
  div.main_content span.likers_list {
    color: #7777cc;
  }
  

.container{
    background: #415057;
    padding-top: 50px;

    width: 100%;
    top: 50px;
    bottom: 0;

    .card{
        background: #CACACA;
        margin: 0 auto;
        width: 500px;
        border: 1px solid black;
        border-radius: 2px;
        overflow:auto;

        .card-header{

            padding: 15px;

            .profile-img{
                display: inline-block;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                position: relative;
                top: 3px;
                margin-right: 5px;
                margin-bottom: 15px;
                vertical-align: middle;
                background: #CACACA;

                .img{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                }
            }


            .profile-info{
                display: inline-block;
                vertical-align: middle;

                .name{
                    font-size: 14px;
                    color: black;
                    font-weight: 700;
                }

                .location{
                    font-size: 12px;
                    color: black;
                    
                }
            }
            .time{
                display: inline-block;
                float: right;
                font-size: 14px;
                top: 10px;
                position: relative;
            }
        }

        .content{
            img{
                width: 100%;
            }
        }

        .card-footer{
            padding: 15px;
            box-sizing: border-box;
            color: black;

            .thumbs{
                color: black;
            }

            .likes{
                font-size: 12px;
                padding-bottom: 10px;

                .fa{
                    color: #3CB14E;
                }
            }
            .description{
                p{
                    margin: 0;
                    font-size: 14px;
                    padding: 0 0 5px 0;
                    .username{
                        font-weight: 700;
                    }
                }
            }
            .comments{
                p{
                    margin: 0;
                    font-size: 14px;
                    padding: 0 0 5px 0;

                    .username{
                        font-weight: 700;
                    }
                }
            }
            hr{
                padding: 0;
            }
            form{
                padding-top: 15px;
                .fa{
                    font-size: 24px;
                }
                .heart{
                    width: 7%;
                    color: red;
                    display: inline-block;
                    .fa{
                        position: relative;
                        top: 3px;
                    }
                }
                .add-comment{
                    width: 80%;
                    display: inline-block;
                    input{
                        width: 100%;
                        padding: 5px;
                        font-weight: 16px;
                        border: 0px solid #fff;
                    }
                }
                .options{
                    width: 7%;
                    display: inline-block;
                    float: right;
                    .fa{
                        position:relative;
                        top: 3px;
                    }
                }
            }

        }
    }
}