body{
    background: #fff;
}

header{
    background: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;

    a{
        box-sizing: border-box;
        width: 24.9%;
        display: inline-block;
        margin-left: -3px;
        text-align: center;
        padding: 12px;

        &:hover{
            .fa-heart-o{
                color: red;
            }
        }

        .fa{
            color: 111;
            font-size: 25px;
        }
    }
}

.container{
    background: #FAFAFA;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;

    .card{
        background: #fff;
        margin: 0 auto;
        width: 500px;
        height: 500px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
}