{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var edit_comment_url = "{{=URL('api', 'edit_comment', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";

    var getCommentsUrl = "{{=URL('api', 'get_comments')}}";
    var saveCommentUrl = "{{=URL('api', 'set_comments')}}";

    var is_logged_in = {{='false' if auth.user is None else 'true'}};

    var user_email = "{{='' if auth.user is None else auth.user.email}}";

    var logged_in_user = "{{=URL('api', 'get_logged_in_user')}}";

    function refresh() {
      location.reload(true);
    }

</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!-- First, let's add a form to insert blog posts. -->
      <div id="add_post" style="display:none">
        <div class="container form_row">
          <div class="label quarter">
            Title:
          </div>
          <div class="form threequarters">
            <input v-model="form_title" placeholder="Enter the post title"/>
          </div>
        </div>
        <div class="container form_row">
          <div class="label quarter">
            Content:
          </div>
          <div class="form threequarters">
            <textarea v-model="form_content" placeholder="Enter the content of your post"></textarea>
          </div>
        </div>
        <div class="container form_row"><div class="quarter"></div>
          <div class="threequarters">
            <div class="submit">
              <button id="add-post" v-on:click="add_post" onclick="refresh()">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts.</div>

      <!-- We display the posts. -->
      <div id="post_list">
        <div class="post_div" v-for="post in post_list">
          <div class="post_title">${post.post_title}</div>
          <div class="post_content" v-if="post.editing === false">
            ${post.post_content}
            <i v-if="user_email == post.post_author" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)">edit post</i>
          </div>
          <div v-if="post.editing === true">
            <textarea v-model="post.post_content" id="edittext"></textarea>
            <button v-on:click="submitEditPost(post._idx)">submit!</button>
          </div>
          <div class="comments_list">
            <div id="buttons" v-if="is_logged_in">
              <button v-if="!post.showComments" v-on:click="showComments(post._idx)">Add / Show Comments</button>
              <button v-if="post.showComments" v-on:click="hideComments(post._idx)">Hide Comments</button>
              <button v-if="post.showComments" v-if="!post.addingComment" v-on:click="toggleAddingComment(post._idx)">Add a comment</button>
            </div>
            <h3 v-if="post.showComments">Comments</h3>
            <div v-if="post.showComments" class="comment-section">
              <div v-if="post.addingComment">
                <textarea v-model="post.newComment"></textarea>
                <button v-on:click="saveComment(post._idx); toggleAddingComment(post._idx)">Save</button>
              </div>
              <div v-if="post.comments.length > 0" v-for="comment in post.comments" id="comments">
                <span v-if="comment.beingEdited == true">
                  <textarea v-model="comment.body" id="editcomment"></textarea>
                  <button v-on:click="submitCommentEdit(post._idx, comment.body, comment.reply_author, comment.id)">submit</button>
                </span>
                <div v-else>
                  <p>${comment.body}</p>
                  <button v-if="user_email == comment.reply_author" v-on:click="editComment(post._idx, comment.body, comment.reply_author, comment.id)">edit</button>
                </div>
                <hr class="someClass">
              </div>
              <div v-if="post.comments.length <= 0">This post has no comments</div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>

<style type="text/css">
  #edithover:hover{
    color: gray;
  }
  #edithover{
    margin-left: 5px;
  }
  #replyBtn{
    margin-top: 10px;
  }
  #comments{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #buttons{
    margin-top: 10px;
  }
  hr.someClass {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}
</style>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
